@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply text-brando-700;
    @apply bg-brando-100;
  }

  body {
    @apply font-text;
  }
}

@layer components {
  .icon-button {
    display: block;
    width: theme('spacing.14');
    height: theme('spacing.14');
    border-radius: theme('borderRadius.sm');
    border: 0;
  }

  .padded {
    @apply p-4;
    @apply md:p-6;
    @apply lg:p-8;
  }

  .space-x {
    @apply mx-6;
    @apply sm:mx-8;
  }

  .space-y {
    @apply my-6;
    @apply sm:my-8;
  }
}
