@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply text-brando-700;
    @apply bg-brando-100;
  }

  body {
    @apply font-text;
  }
}

@layer components {
  .icon-button {
    display: block;
    width: theme('spacing.14');
    height: theme('spacing.14');
    border-radius: theme('borderRadius.sm');
    border: 0;
  }

  /**
   * maybe it's user error, but Tailwind's positioning for "0" seems straight-up broken;
   * left-0 does nothing; left-1 does
   */
  .fixed-left {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
  }
}
